.mat-cell{
    flex: 1;
    min-height: 48px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.action{
    display:flex;
    justify-content:center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  
.mat-table {
    overflow: auto;
}

.title {
    text-align: center;
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.form-control {
    border: 1px;
    width: 200px;
    border-style: outset;
    height: 25px;
}

.add-team-type-btn {
    width: 40px;
    height: 40px;
    background-color: inherit;
    color: green;
    margin-left: 30px;
}

.add-team-type-icon {
    font-size: 35px;
    line-height: 40px;
    width: auto;
    height: auto;
}

.btn {
    font-weight: bold;
    background-color: #ffb74d;
    color: white;
    margin: 10px;
}