<div class="main-container">
  <mat-card style="width: 95%;">
    <mat-card-title>Client App Dashboard</mat-card-title>
    <mat-card-content>
      <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> UUID </mat-header-cell>
          <mat-cell *matCellDef="let appInfo"> {{appInfo.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="clientSecrets">
          <mat-header-cell *matHeaderCellDef> Secrets </mat-header-cell>
          <mat-cell *matCellDef="let appInfo"> {{appInfo.clientSecrets}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="clientName">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let appInfo"> {{appInfo.clientName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="redirectUrl">
          <mat-header-cell *matHeaderCellDef> Redirect URL </mat-header-cell>
          <mat-cell *matCellDef="let appInfo"> {{appInfo.redirectUrl}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="resourceIds">
          <mat-header-cell *matHeaderCellDef> Resource IDs </mat-header-cell>
          <mat-cell *matCellDef="let appInfo"> {{appInfo.resourceIds}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="grantTypes">
          <mat-header-cell *matHeaderCellDef> Grant Types </mat-header-cell>
          <mat-cell *matCellDef="let appInfo"> {{appInfo.grantTypes}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="scopes">
          <mat-header-cell *matHeaderCellDef> Scopes </mat-header-cell>
          <mat-cell *matCellDef="let appInfo">
            {{appInfo.scopes | arrayToString}}
          </mat-cell>
        </ng-container>

        <!-- actions -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="action">
            <button mat-icon-button color="primary" (click)="addNew()">
              <mat-icon aria-label="Add">add</mat-icon>
            </button>
          </mat-header-cell>

          <mat-cell *matCellDef="let row; let i=index;" class="action">
            <button mat-icon-button color="accent" [disabled]="row.isActive == 0" (click)="startEdit(i,row)">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>

          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="active">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let row; let i=index;" class="action">
            <section class="example-section">
              <mat-slide-toggle class="example-margin" [checked]="row.isActive == 1" (click)="deleteDialog(row) ; false">
              </mat-slide-toggle>
            </section>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" [style.background-color]="row.isActive === 1 ? 'none' : '#BDBDBD' "></mat-row>

      </mat-table>
      <mat-paginator [length]="5" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>
