<h2 mat-dialog-title>{{data.userName}}</h2>
<mat-dialog-content [formGroup]="form" class="form-horizontal">
  <div class="form-group">
    <mat-form-field>
      <mat-select placeholder="Select role(s)" value="userDto.roles" formControlName="roles" [compareWith]="compareRole" multiple
        required>
        <mat-option *ngFor="let role of roles" [value]="role.roleCode">
          {{role.roleCode}} - {{role.roleName}}
        </mat-option>
      </mat-select>
      <mat-error>
        <ng-template [ngIf]="form.controls.roles?.errors?.required">
          At least 1 role must be selected.
        </ng-template>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-select placeholder="Select authenticate mode" formControlName="authenMode" required>
        <mat-option *ngFor="let authenMode of authenModes" [value]="authenMode.value">
          {{authenMode.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <h4 mat-dialog-subtitle>User information</h4>
  <fieldset formGroupName="userInfo">
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="First name" formControlName="firstName">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Last name" formControlName="lastName">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Date of Birth" [matDatepicker]="myDatepicker" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker">
        </mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="address">
      </mat-form-field>
    </div>
  </fieldset>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="submit()">Submit</button>
</mat-dialog-actions>
