<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        System Admin
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <mat-list-item routerLink="/client-app">
        <button mat-icon-button>
          <mat-icon color="accent">home</mat-icon>
        </button>
        <span>Client App</span>
      </mat-list-item>

      <mat-list-item routerLink="/scope">
        <button mat-icon-button>
          <mat-icon color="accent">home</mat-icon>
        </button>
        <span>Scope</span>
      </mat-list-item>

      <mat-list-item routerLink="/users">
        <button mat-icon-button>
          <mat-icon color="accent">people</mat-icon>
        </button>
        <span>User Management</span>
      </mat-list-item>

      <mat-list-item routerLink="/roles">
        <button mat-icon-button>
          <mat-icon color="accent">person_outline</mat-icon>
        </button>
        <span>Role Management</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Demo RXJS
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <mat-list-item routerLink="/switchmap">
        <button mat-icon-button>
          <mat-icon color="accent">home</mat-icon>
        </button>
        <span>SwitchMap</span>
      </mat-list-item>

      <mat-list-item routerLink="/parent">
        <button mat-icon-button>
          <mat-icon color="accent">home</mat-icon>
        </button>
        <span>Component interaction</span>
      </mat-list-item>

      <mat-list-item routerLink="/lazyloading">
        <button mat-icon-button>
          <mat-icon color="accent">people</mat-icon>
        </button>
        <span>Lazy loading Component</span>
      </mat-list-item>

      <mat-list-item routerLink="/roles">
        <button mat-icon-button>
          <mat-icon color="accent">person_outline</mat-icon>
        </button>
        <span>Role Management</span>
      </mat-list-item>
    </mat-nav-list>

  </mat-expansion-panel>
</mat-accordion>
