Test emit a variable - is Action:{{isAction}} and is Test:{{isTest}} isTestBehaviorSubject {{isTestBehaviorSubject}} is isTestEventEmiiter {{isTestEventEmiiter}}
<div class="container">
  <mat-card>
    <mat-card-title style="font-weight: bold;">User Dashboard
      <button mat-mini-fab type="button" color="primary" matTooltip="Register Account" (click)="createAccount()">
        <mat-icon aria-label="create new account">person_add</mat-icon>
      </button>
    </mat-card-title>
    <div fxLayout="row" style="display: flex; justify-content: flex-end">
      <mat-form-field>
        <input matInput placeholder="Search by Username" [(ngModel)]="userName">
      </mat-form-field>
      <button mat-icon-button class="search" (click)="searchByUserName()">
        <mat-icon aria-label="search user">search</mat-icon>
      </button>
      <button mat-icon-button class="clear" matTooltip="Clear filter" (click)="clearSearchData()">
        <mat-icon aria-label="clear search data">clear</mat-icon>
      </button>
    </div>
    <mat-card-content>
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
          <mat-cell *matCellDef="let user; let i = index"> {{i + 1}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fullName">
          <mat-header-cell *matHeaderCellDef>
            <label>Full Name</label>
          </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.firstName }} {{user.lastName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef>
            <label>User Name</label>
          </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.userName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>
          </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <button mat-icon-button matTooltip="Edit Account" (click)="editAccount(user)">
              <mat-icon aria-label="edit">edit</mat-icon>
            </button>
            <!-- <button mat-icon-button matTooltip="Change password" (click)="editAccount(user)">
              <mat-icon aria-label="changePassword">settings_backup_restore</mat-icon>
            </button> -->
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef>
            <label>Status</label>
          </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <mat-slide-toggle [(ngModel)]="user.status" (change)="onChange($event, user)" (click)="changeStatus(user); false"></mat-slide-toggle>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let user; columns: displayedColumns;"></mat-row>
      </mat-table>
      <div class="pagination">
        <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
    <div>
      <mat-progress-bar mode="indeterminate" aria-label="Loading" *ngIf="loading"></mat-progress-bar>
    </div>
  </mat-card>
</div>
