<div class="container">
    <button class="margin-left" mat-raised-button (click)="loadInteractionComponent()">{{'INTERACTION' | translate }}</button>
    <div *ngIf="isLoadInteractionComponent">
        <ng-container *ngComponentOutlet="interactionComponent"></ng-container>
    </div>

    <button class="margin-left" mat-raised-button (click)="loadComponent()">{{'CARD' | translate }}</button>
    <ng-container #anchor></ng-container>

    <button class="margin-left" mat-raised-button (click)="loadCardComponent()">{{'LOAD3' | translate }}</button>
    <ng-container *ngIf="cardLazyLoad">
        <ng-template [ngComponentOutlet]="cardLazyLoad | async"></ng-template>
    </ng-container>

    <button class="margin-left" mat-raised-button (click)="loadTypescriptComponent()">Type Script 3.7</button>
    <ng-container *ngIf="typeScriptLazyLoad">
        <ng-template [ngComponentOutlet]="typeScriptLazyLoad | async"></ng-template>
    </ng-container>

    <button class="margin-left" mat-raised-button (click)="loadCardDirective()">Load TypeScriptComponent Via Directive</button>
    <ng-template [appPlaceholder]="compHolder" [initData]="dataTransfer"></ng-template>
</div>