<h2 mat-dialog-title>
  Register new account</h2>
<mat-dialog-content [formGroup]="form" class="form-horizontal">
  <h3 mat-dialog-subtitle>Account</h3>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Username" [(ngModel)]="userDto.user.userName" formControlName="userName" required>
      <mat-error>
        <ng-template [ngIf]="form.controls.userName?.errors?.required">
          Username is required.
        </ng-template>
      </mat-error>
    </mat-form-field>
  </div>
  <div [formGroup]="passwordFormGroup">
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Password" [type]="hide ? 'text': 'password'" [(ngModel)]="userDto.user.password" formControlName="password"
          type="password" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off': 'visibility'}}</mat-icon>
        <mat-error>
          <ng-template [ngIf]="passwordFormGroup.controls.password?.errors?.required">
            Password is required.
          </ng-template>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Repeat password" formControlName="repeatPassword" type="password" required [errorStateMatcher]="confirmValidParentMatcher">
        <mat-error>
          <ng-template [ngIf]="passwordFormGroup.controls.password?.errors?.required">
            Repeat password is required.
          </ng-template>
          <ng-template [ngIf]="passwordFormGroup.errors?.doesMatchPassword">
            Password does not match.
          </ng-template>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-select placeholder="Select role(s)" [(ngModel)]="userDto.roles" formControlName="roles" multiple required>
        <mat-option *ngFor="let role of roles" [value]="role">
          {{role.description}}
        </mat-option>
      </mat-select>
      <mat-error>
        <ng-template [ngIf]="form.controls.roles?.errors?.required">
          At least a role must be selected.
        </ng-template>
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-select placeholder="Select authenticate mode" [(ngModel)]="userDto.user.authenMode" formControlName="authenMode" required>
        <mat-option *ngFor="let authenMode of authenModes" [value]="authenMode.value">
          {{authenMode.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error>
        <ng-template [ngIf]="form.controls.authenMode?.errors?.required">
          A mode must be selected.
        </ng-template>
      </mat-error>
    </mat-form-field>
  </div>
  <h3 mat-dialog-subtitle>User information</h3>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="First name" [(ngModel)]="userDto.userInfo.firstName" formControlName="firstName">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Last name" [(ngModel)]="userDto.userInfo.lastName" formControlName="lastName">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Date of Birth" [matDatepicker]="myDatepicker" [(ngModel)]="userDto.userInfo.dob" formControlName="dob">
      <mat-datepicker-toggle matSuffix [for]="myDatepicker">
      </mat-datepicker-toggle>
      <mat-datepicker #myDatepicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input matInput placeholder="Address" [(ngModel)]="userDto.userInfo.address" formControlName="address">
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" [disabled]="form.invalid" (click)="submit()">Submit</button>
</mat-dialog-actions>
